body {
    margin: 0;
    background-color: rgb(179, 241, 221);
}

#main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#circle1 {
    display: flex;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background-color: black;
    position: relative;
    align-items: center;
    justify-content: center;
}

#textBox1 {
    width: 90px;
    height: 25px;
    right: 50%;
    top: 70%;
    background-color: #e29126;
    position: absolute;
    text-align: center;
    font-size: 20px;
}

#textBox2 {
    width: 90px;
    height: 25px;
    left: 50%;
    top: 70%;
    background-color: #e29126;
    position: absolute;
    text-align: center;
    font-size: 20px;
}

#circle2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    display: flex;
    width: 105px;
    height: 105px;
    border-radius: 100%;
    background-color: #92e6da;
    position: absolute;
    /* top: 40%; */
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border: 2px solid #ffffff;
}

#genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
        'amarelo azul';
    grid-gap: 6px;
    border: 1px solid black;
    background-color: black;
    border-radius: 100%;
    width: 600px;
    height: 600px;
    position: absolute;
}

#blue {
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
    cursor: pointer;
}

#red {
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
    cursor: pointer;
}

#yellow {
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
    cursor: pointer;
}

#green {
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
    cursor: pointer;
}

.selected {
    opacity: 0.4;
}